div#footer div.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10vw;
}

div.return-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.return-top-button button {
    width: 3vw;
    height: 3vw;
    background: var(--color2);
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--duration2);
}

div.return-top-button button:hover {
    animation: arrow-up-move 0.5s;
    background: var(--color3);
}

div.return-top-button svg {
    height: 1vw;
    color: var(--color4);
}

@keyframes arrow-up-move {
    0% { align-items: baseline; padding-top: 1vw; }
    30% { align-items: baseline; padding-top: 0.5vw; }
    100% { align-items: baseline; padding-top: 1vw; }
}

div.info {
    margin-top: 2vw;
}

div.info p {
    margin: 1vw 0;
}

div.we-in-socials {
    display: flex;
}

div.we-in-socials-button button {
    margin: 1vw 1vw;
    width: 3vw;
    height: 3vw;
    height: 3vw;
    border: 1px solid var(--color2);
    border-radius: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--duration2);
}

div.we-in-socials-button button:hover {
    background: var(--color2);
}

div.we-in-socials-button button:hover svg {
    fill: var(--color4);
}

div.we-in-socials-button svg {
    height: 1.3vw;
    fill: var(--color2);
    transition: var(--duration2);
}

div.contacts-address {
    display: flex;
    align-items: center;
}

div.contacts-address span {
    margin-left: 0.5vw;
}

div.copyright {
    margin: 2vw;
    text-align: center;
}